<script>
$(function(){
  $("#bdQueryBtn").click(function(){
    $(this).prop('disabled', true);
    $('#bdCsvBtn').prop('disabled', true);
    $('#loader').css('display', 'inline-flex');
    $('#loader').show();
    $("#bdQueryForm").submit();
  });
});
</script>

<section>
	<div class="queries">
		<table>
			<tr>
				<td>
					<form id="bdQueryForm" action="/bdQuery", method="get">
					  <button id="bdQueryBtn" type="submit">
              BitDefender Report<span id="loader" hidden></span>
            </button>
			    </form>
          <form action="/bdCsvDownload", method="get">
            {{#if bdQuery}}
              <button id="bdCsvBtn" type="submit">Download .csv</button>
            {{else}}
              <button id="bdCsvBtn" type="submit" disabled>Download .csv</button>
            {{/if}}
			    </form>
        </td>
			</tr>
			<tr>
				<td>
          <h3>BitDefender Response:</h3>
          <div class="response">
            {{#if bdQuery}}
              <div class="responseTable">
                <table>
                  <tr>
                    <th>Client</th>
                    <th>Machines</th>
                    <th>Endpoints</th>
                    <th>Sandboxes</th>
                  </tr>
                  {{#each bdQuery}}
                    <tr>
                      <td>{{name}}</td>
                      <td style="text-align: right;">{{machines}}</td>
                      <td style="text-align: right;">{{endpoints}}</td>
                      <td style="text-align: right;"></td>
                    </tr>
                  {{/each}}
                </table>
              </div>
            {{/if}}
          </div>
        </td>
			</tr>
		</table>
	</div>
</section>

