<script>
$(function(){
  $("#bdQueryBtn").click(function(){
    $(this).prop('disabled', true);
    $('#bdCsvBtn').prop('disabled', true);
    $('#loader').css('display', 'inline-flex');
    $('#loader').show();
    $("#bdQueryForm").submit();
  });
});
</script>
<section>
	<div class="queries">
		<table>
			<tr>
				<td>
					<form id="bdQueryForm" action="/bdQuery", method="get">
					  <button id="bdQueryBtn" type="submit">
              BitDefender Report<span id="loader" hidden></span>
            </button>
			    </form>
          <form action="/bdCsvDownload", method="get">
            {{#if bdQuery}}
              <button id="bdCsvBtn" type="submit">Download .csv</button>
            {{else}}
              <button id="bdCsvBtn" type="submit" disabled>Download .csv</button>
            {{/if}}
			    </form>
        </td>
			</tr>
			<tr>
				<td>
          <h3>BitDefender Response:</h3>
          <div class="response">
            {{#if bdQuery}}
              {{#each bdQuery }}
                &ensp;- {{name}}: {{machines}}
              {{/each}}
            {{/if}}
          </div>
        </td>
			</tr>
		</table>
	</div>
</section>

